# SPDX-FileCopyrightText: Copyright 2026, Arm Limited and/or its affiliates.
# SPDX-License-Identifier: Apache-2.0
*.pyc
*~
\.coverage
\.eggs
build
dist
src/*.egg-info
.vscode
venv
mlia-output
report
.ipynb_checkpoints
.tox
uv.lock
coverage.xml
src/mlia/_vendor/artifacts/**/*.whl
src/mlia/_vendor/artifacts/**/*.tar.gz
src/mlia/_vendor/artifacts/**/model-converter
src/mlia/_vendor/artifacts/**/graph-compiler-performance-estimator
