# SPDX-FileCopyrightText: Copyright 2022, 2025, Arm Limited and/or its affiliates.
# SPDX-License-Identifier: Apache-2.0

include README.md
graft src/mlia/resources

recursive-include src/mlia/_vendor/artifacts *
recursive-exclude src/mlia/_vendor/artifacts *.sha256
